################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c_plus_plus/v16/.suo
/.vs/c_plus_plus/v16/Browse.VC.db
/DS/out/build/x64-Debug (default)/DS/CMakeFiles/DS.dir/SLL.cpp.obj
/DS/out/build/x64-Debug (default)/.ninja_log
/DS/out/build/x64-Debug (default)/.ninja_deps
/DS/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-DS-Debug-1c6f37bf00374869abef.json
/DS/out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2021-06-18T18-17-58-0996.json
/DS/out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-07648f35a503eb9f0675.json
/DS/out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-16239da8b3a295463ee1.json
/DS/out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-66b622f3a3175617dc1b.json
/DS/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/c_plus_plus/v16/ipch/AutoPCH/dae8846a9d43586f/DS.ipch
/.vs/c_plus_plus/v16/Browse.VC.opendb
/.vs/c_plus_plus/v16/Browse.VC.db-wal
/.vs/c_plus_plus/v16/Browse.VC.db-shm
/.vs/cmake.db
/.vs/CMake Overview
